# OKX API配置
OKX_API_KEY=e84f4784-9636-4be9-8b8d-e668d8905dab
OKX_SECRET_KEY=9C640E34855B204CAD1AA0916943B753
OKX_PASSPHRASE=Dzy199807245411*
OKX_SANDBOX=False

# DeepSeek API配置
DEEPSEEK_API_KEY=sk-f1b18c42447d4f43b68c26eec392cd15
DEEPSEEK_BASE_URL=https://api.deepseek.com

# Server酱通知配置
# 获取SendKey: https://sct.ftqq.com/
SERVERCHAN_SENDKEY=your_serverchan_sendkey_here
ENABLE_SERVERCHAN_NOTIFICATION=true